@font-face {
    font-family: 'airbagregular';
    src: url('../fonts/airbag-regular-webfont.eot');
    src: url('../fonts/airbag-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/airbag-regular-webfont.woff2') format('woff2'),
         url('../fonts/airbag-regular-webfont.woff') format('woff'),
         url('../fonts/airbag-regular-webfont.ttf') format('truetype'),
         url('../fonts/airbag-regular-webfont.svg#airbagregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Perpetua-Regular';
    src: url('../fonts/Perpetua.eot');
    src: url('../fonts/Perpetua.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Perpetua.woff') format('woff'),
        url('../fonts/Perpetua.ttf') format('truetype'),
        url('../fonts/Perpetua.svg#Perpetua-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

@font-face {
    font-family:'Perpetua-Bold';
    src: url('../fonts/Perpetua-Bold.eot');
    src: url('../fonts/Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Perpetua-Bold.woff') format('woff'),
        url('../fonts/Perpetua-Bold.ttf') format('truetype'),
        url('../fonts/Perpetua-Bold.svg#Perpetua-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

@font-face {
  font-family: 'Bauhaus-93';
  src: url('../fonts/bauhaus-93.eot');
  src: url('../fonts/bauhaus-93.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/bauhaus-93.woff') format('woff'), url('../fonts/bauhaus-93.ttf') format('truetype'), url('../fonts/bauhaus-93.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('../fonts/JosefinSans-Bold.eot');
  src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/JosefinSans-Bold.woff') format('woff'), url('../fonts/JosefinSans-Bold.ttf') format('truetype'), url('../fonts/JosefinSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuattrocentoSans-Bold';
  src: url('../fonts/QuattrocentoSans-Bold.eot');
  src: url('../fonts/QuattrocentoSans-Bold.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/QuattrocentoSans-Bold.woff') format('woff'), url('../fonts/QuattrocentoSans-Bold.ttf') format('truetype'), url('../fonts/QuattrocentoSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'century-normal-48123';
  src: url('../fonts/century-normal-48123.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/century-normal-48123.woff') format('woff'), url('../fonts/century-normal-48123.ttf') format('truetype'), url('../fonts/century-normal-48123.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuattrocentoSans-Regular';
  src: url('../fonts/QuattrocentoSans-Regular.eot');
  src: url('../fonts/QuattrocentoSans-Regular.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/QuattrocentoSans-Regular.woff') format('woff'), url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype'), url('../fonts/QuattrocentoSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'himalaya';
  src: url('../fonts/himalaya.eot');
  src: url('../fonts/himalaya.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/himalaya.woff') format('woff'), url('../fonts/himalaya.ttf') format('truetype'), url('../fonts/himalaya.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telegrafico';
  src: url('../fonts/telegrafico.eot');
  src: url('../fonts/telegrafico.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/telegrafico.woff') format('woff'), url('../fonts/telegrafico.ttf') format('truetype'), url('../fonts/telegrafico.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro Bold';
  src: url('../fonts/Maven Pro Bold.eot');
  src: url('../fonts/Maven Pro Bold.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/Maven Pro Bold.woff') format('woff'), url('../fonts/Maven Pro Bold.ttf') format('truetype'), url('../fonts/Maven Pro Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iron';
  src: url('../fonts/Iron.eot');
  src: url('../fonts/Iron.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/Iron.woff') format('woff'), url('../fonts/Iron.ttf') format('truetype'), url('../fonts/Iron.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype');
  src: local('☺'), url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/AvenirLTStd-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
  font-family: $fontawesome;
}
