/* Colors */

$gray: #808080;
$light-gray: #e5e5e5;
$dark-gray: #555555;
$blue-gray: #676767;
$white-gray: #f1f1f1;
$light-blue: #2fa1f1;
$pale-blue: #d9eefd;
$dark-blue: #3497dc;
$orange: #f99800;
$dark-orange: #d48823;
$pale-orange: #e59f42;
$red: #d64832;
$dark-red: #cd0000;
$darker-red: #9e0f15;
$pale-red: #d7695b;
$brown: #815026;
$green: #0c9452;
$darkgreen: #06554f;
$aquagreen: #19a89e;
$light-green: #4ecb89;
$teal: #3badb7;
$white: #FFF;
$black: #000;
$purple: #7369b0;
$yellow: #dfd992;
$pale-yellow: #f5e694;
$light-yellow: #ffda0e;
$marron: #b73b61;

/* Fonts */

$airbag: 'airbagregular';
$perpetua-bold: 'Perpetua-Bold';
$perpetua-regular: 'Perpetua-Regular';
$bauhaus93: 'Bauhaus-93';
$josefinsans: 'JosefinSans-Bold';
$quatrocento: 'QuattrocentoSans-Bold';
$quatrocentoreg: 'QuattrocentoSans-Regular';
$century: 'century-normal-48123';
$himalya: 'himalaya';
$telegrafica: 'telegrafico';
$maven: 'Maven Pro Bold';
$iron: 'Iron';
$avenir: 'AvenirLTStd-Book';
$fontawesome: 'FontAwesome';
